.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
  }
  
  .card {
    flex: 1;
    width: 270px;
    height: 160px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(152, 4, 250, 0.7);
    text-align: center;
    background-color:blueviolet;
    border-radius: 10%;
    transition: transform 0.3s ease; 
  }
  .card:hover {
    transform: scale(1.1); /* Make the card 10% larger on hover */
  }


.height, .weight, .temperament, .temperament-text  {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  font-size: 10px;
  color: white;
}

.height, .weight, .temperament {
  display: inline-flex;
  align-items: center; /* Vertically align the text with respect to the image icon */
  overflow-y: auto;
}
.weight{
  margin-left: 20px;;
}

.breedName {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  font-size: 15px;
  font-style: oblique;
  position: absolute;
  color: white;
}

.image img {
  width: 100%; /* Adjust the desired image dimensions */
  max-height: 100px;
  object-fit:scale-down;
  border-radius: 300%;
}


.temperament {
  display: inline-flex;
  align-content: center;
  overflow-y: auto;   
}

.myDogs img, .height img , .weight img, .temperament img{
  width: 20px; /* Initial width */
  height: 20px; /* Initial height */
  
}

.myDogs {
  position: relative;
  top:-160px;
  left:130px;
}

